<nav class="navbar navbar-dark bg-dark text-white">
  <a class="navbar-brand d-flex align-items-center">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="ml-2">Angular Tools UI</span>
  </a>
</nav>
<div class="content d-flex justify-content-between">
  <app-menu class="shadow-sm flex-shrink-0" [menuConfig]="menuConfig" [autoClose]="true" menuMode="full"
    [items]="menuModels" [useImage]="true"></app-menu>
  <div class="card m-3 w-100">
    <div class="card-header bg-light">标题</div>
    <div class="card-body">

    </div>
  </div>
</div>