<nav class="navbar text-white bg-primary d-flex justify-content-between py-0">
  <div class="item d-flex align-items-center">
    <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3 mx-2">
      <i class="nav-icon iconfont icon-toggle-left"></i>
    </div>
    <div class="input-search">
      <i class="iconfont icon-search ps-3 pe-1"></i>
      <input class="me-3" type="text" placeholder="Search..." />
    </div>
  </div>
  <div class="item d-flex align-items-center">
    <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
      <img height="18" src="assets/image/flags/cn.gif" alt="china" />
    </div>
    <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
      <i class="nav-icon iconfont icon-fullscreen-expand"></i>
    </div>
    <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
      <i class="nav-icon iconfont icon-notification"></i>
    </div>
    <div (click)="showSideMenu()" class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
      <i class="nav-icon iconfont icon-setting"></i>
    </div>
    <div class="
        bg-light-hover
        pointer
        h-100
        px-3
        d-flex
        justify-content-center
        align-items-center
      ">
      <img class="rounded-circle" width="35" height="35" src="/assets/image/avatar.jpg" />
    </div>
  </div>
</nav>