<div>
    <div class="mb-3"><strong>Menus</strong></div>
    <div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">show</span>
        </div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">size small</span>
        </div>
    </div>
    <div class="mb-3"><strong>Theme</strong></div>
    <div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">show topbar</span>
        </div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">dark mode</span>
        </div>
    </div>
    <div>
        <button tsBtn="primary"> Reset to Default</button>
    </div>
</div>