<div>
    <div class="alert alert-primary mb-4" role="alert">
        Customize the overall color scheme, sidebar menu, etc.
    </div>
    <div class="mb-5">
        <div class="text-muted fw-bold">Color Scheme</div>
        <hr>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">light mode</span>
        </div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">dark mode</span>
        </div>
    </div>
    <div class="mb-5">
        <div class="text-muted fw-bold">Left Sidebar</div>
        <hr>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">scrollable</span>
        </div>
        <div class="mb-2">
            <ts-switch></ts-switch><span class="ms-2">condensed</span>
        </div>
    </div>
    <div>
        <button tsBtn="primary" class="w-100">reset to default</button>
    </div>
</div>