<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">其它上传</h5>
        <div class="card-body">
            <p class="text-muted">1. 视频上传，支持OSS</p>
            <p class="text-muted">2. 音频上传，支持OSS</p>
            <p class="text-muted">3. 自定义上传（其它文件上传），可用于文件读取，如Excel文件</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header border-bottom">视频上传</div>
                <div class="card-body">
                    <ts-video [config]="uploadConfig" title="请选择视频" [color]="global.params.color" [src]="sourceUrl"></ts-video>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header border-bottom">音频上传</div>
                <div class="card-body">
                    <ts-video [config]="uploadConfig" title="请选择音频" [color]="global.params.color" [src]="sourceUrl"
                        type="audio"></ts-video>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header border-bottom">Excel文件读取</div>
        <div class="card-body">
            <div>
                <input #fileDom="tsFile" tsFile (fileChange)="readExcel($event)" type="file">
                <button tsBtn (click)="fileDom.openFileDialog()">打开文件(Excel)</button>
            </div>
            <table class="table bg-white mb-0 text-center">
                <thead class="text-dark">
                    <tr>
                        <th *ngFor="let th of theads" class="border-0">{{th}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tr of tbodys">
                        <td *ngFor="let th of theads">{{tr[th]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>