<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">标签</h5>
        <div class="card-body">
            <p class="text-muted">标签可以任意添加，删除，修改</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-white">
            单个标签
        </div>
        <div class="card-body">
            <!--一个简单的标签-->
            <ts-badge color="dark" label="这个标签是独立的"></ts-badge>
            <!--使用ngFor打印标签-->
            <ts-badge *ngFor="let badge of badges" (closeHandle)="closeBadge(badge)" [color]="badge.badgeColor" [label]="badge.badgeLabel"></ts-badge>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-white">
            标签组
        </div>
        <div class="card-body">
            <ts-badges [badges]="badges" (closeHandle)="sendRemoveRequest($event)"></ts-badges>
            <app-badge-select [badges]="badges"></app-badge-select>
        </div>
    </div>
</div>