<div class="p-1">
    <h3 class="font-weight-normal">Collapse</h3>
    <h5 class="text-muted font-weight-light mb-4">Toggle the visibility of content across your project.</h5>
</div>

<div class="column-container">
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div>
                    <h5 class="m-0">Directive Overview</h5>
                </div>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">@Input</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let input of inputs">
                            <th scope="row">{{input[0]}}</th>
                            <td><code>{{input[1]}}</code></td>
                            <td>{{input[2]}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">Output</th>
                            <th scope="col" style="width: 120px;">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let output of outputs">
                            <th scope="row">{{output[0]}}</th>
                            <td><code>{{output[1]}}</code></td>
                            <td>{{output[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Simple Usage</h5>
            <div tsCollapses>
                <button tsToggle tsBtn>More...</button>
                <div tsCollapse class="media shadow rounded mt-3 p-3">
                    <img class="align-self-start p-1 border mr-3 rounded-circle" src="assets/images/avatar/0.jpg"
                        height="70" width="70">
                    <div class="media-body">
                        <h5 class="mt-0">可儿 那由多（かに なゆた）</h5>
                        <p class="m-0">
                            伊月的后辈，中学时遭受校园欺凌而不愿再上学，偶然之下看到羽岛伊月的出道作觉得很有趣，甚至还爱慕上了当时尚未谋面的对方。为了想和他见面于是就自己开始写小说，并投稿至伊月参加过的新人奖。
                        </p>
                    </div>
                </div>
            </div>
            <ts-prism class="mt-3" [codeObs]=" '/assets/docs/tabs/tabs.html' | request" language="html"></ts-prism>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">More Usage</h5>
            <div tsCollapses [auto]="true" class="card">
                <div tsToggle class="card-header bg-light">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left">Collapsible Group Item #1</button>
                    </h2>
                </div>
                <div tsCollapse class="card-body">Content 1</div>
                <div tsToggle class="card-header bg-light">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left">Collapsible Group Item #2</button>
                    </h2>
                </div>
                <div tsCollapse class="card-body">Content 2</div>
                <div tsToggle class="card-header bg-light">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left">Collapsible Group Item #3</button>
                    </h2>
                </div>
                <div tsCollapse class="card-body">Content 3</div>
            </div>
            <ts-prism class="mt-3" [codeObs]=" '/assets/docs/tabs/tabs.html' | request" language="html"></ts-prism>
        </div>
    </div>
</div>