<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6>New Customers</h6>
                <i #customerMenu (click)="showMenu(customerMenu)" class="iconfont icon-menu pointer"></i>
            </div>
            <div class="row">
                <div class="col-4 col-md-12 col-xl-4">
                    <h2 class="mb-3">3,897</h2>
                    <div class="d-flex align-items-baseline">
                        <p class="text-success">
                            <span>+3.3%</span>
                            <i class="iconfont icon-caret-up"></i>
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-12 col-xl-8">
                    <div tsChart (doInit)="initLineChart($event)" [option]="charOption" [data]="lineData"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6>New Orders</h6>
                <i #orderMenu (click)="showMenu(orderMenu)" class="iconfont icon-menu pointer"></i>
            </div>
            <div class="row">
                <div class="col-4 col-md-12 col-xl-4">
                    <h2 class="mb-3">35,084</h2>
                    <div class="d-flex align-items-baseline">
                        <p class="text-danger">
                            <span>-2.9%</span>
                            <i class="iconfont icon-caret-down"></i>
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-12 col-xl-8">
                    <div tsChart (doInit)="initBarChart($event)" [option]="charOption" [data]="barData"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6>Line Chart</h6>
                <i #lineMenu (click)="showMenu(lineMenu)" class="iconfont icon-menu pointer"></i>
            </div>
            <div class="row">
                <div class="col-4 col-md-12 col-xl-4">
                    <h2 class="mb-3">41,897</h2>
                    <div class="d-flex align-items-baseline">
                        <p class="text-success">
                            <span>10%</span>
                            <i class="iconfont icon-caret-up"></i>
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-12 col-xl-8">
                    <div tsChart (doInit)="initZLineChart($event)" [option]="charOption" [data]="lineData">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-xl-8 mb-3">
        <div class="card card-body">
            <div class="d-flex justify-content-between mb-2">
                <h6 class="mb-0 lex-grow-1">REVENUE</h6>
                <div>
                    <ts-tabs class="d-inline-block mr-3" [items]="['Today', 'Week', 'Month', 'Year']"></ts-tabs>
                    <i #revenueMenu (click)="showMenu(revenueMenu)" class="iconfont icon-menu pointer"></i>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="flex-grow-0 text-muted mr-2">Revenue is the income that a business has from its normal
                    business activities, usually from the sale of goods and services to customers.</div>
            </div>
            <div tsChart (doInit)="initBarChart($event)" [option]="bigCharOption" [data]="lineData"></div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4">
        <div class="card card-body">
            <h6 class="mb-0 lex-grow-1">Storage Part</h6>
            <div tsChart (doInit)="initPieChart($event)" [option]="pieOption" [data]="pieData"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-xl-4">
        <div class="card card-body">
            <h6 class="mb-4">New Join Member</h6>
            <ng-container *ngFor="let item of itemList;index as i">
                <div class="media">
                    <img height="50" [src]="'assets/images/avatar/' + i + '.jpg'" class="mr-3 rounded-circle">
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1">{{item.name}}</h6>
                            <span class="text-muted">{{item.time}}</span>
                        </div>
                        <div class="text-muted">{{item.description}}</div>
                    </div>
                </div>
                <hr *ngIf="i < itemList.length - 1">
            </ng-container>
        </div>
    </div>
    <div class="col-lg-7 col-xl-8">
        <div class="card card-body">
            <h6 class="mb-3">Latest Transactions</h6>
            <table class="table table-striped">
                <thead class="text-primary">
                    <tr>
                        <th class="border-0" scope="col">#</th>
                        <th class="border-0" scope="col">PROJECT NAME</th>
                        <th class="border-0" scope="col">START DATE</th>
                        <th class="border-0" scope="col">DUE DATE</th>
                        <th class="border-0" scope="col">STATUS</th>
                        <th class="border-0" scope="col">ASSIGN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData;index as i">
                        <th class="border-0" style="height: 47px;">{{i + 1}}</th>
                        <td class="border-0">{{data.a}}</td>
                        <td class="border-0">{{data.b}}</td>
                        <td class="border-0">{{data.c}}</td>
                        <td class="border-0 text-capitalize"><span
                                class="badge badge-pill badge-{{data.d}}">{{data.d}}</span></td>
                        <td class="border-0">{{data.e}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>