.search-container {
    overflow: hidden;
    padding-bottom: 5px;
    .search-container-shadow {
        box-shadow: 0 0 10px rgba(0,0,0,.12);
    }
    // .form-inline {
    //     box-shadow: 0 0 10px rgba(0,0,0,.12);
    // }
}

.datepicker {
    position: relative;
    .form-control {
        background-color: white;
        pointer-events: none;
    }
    .iconfont {
        position: absolute !important;
    
    }
}