<div class="shadow-sm mb-3 pt-4 bg-white">
  <div class="px-4">
    <h3 class="font-weight-normal">TABLE</h3>
    <h5 class="text-muted font-weight-light mb-4">
      Documentation and examples for opt-in styling of tables with Bootstrap.
    </h5>
  </div>
  <hr />
  <div class="search-container">
    <div class="search-container-shadow px-4">
      <div class="row g-3 pb-4">
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            placeholder="User name"
            style="width: 150px"
            [(ngModel)]="table.search.name"
          />
        </div>
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            placeholder="Phone"
            style="width: 150px"
            [(ngModel)]="table.search.phone"
          />
        </div>
        <div class="col-auto">
          <ts-datepickers [(ngModel)]="table.search.date">
            <input
              type="text"
              class="form-control"
              placeholder="Date range"
              style="width: 150px"
              [value]="(table.search.date|json)||''"
            />
          </ts-datepickers>
        </div>
        <div class="col-auto">
          <button tsBtn (click)="table.doReset()" class="me-1">Clean</button>
          <button tsBtn="primary" (click)="table.doSearch()" class="me-1">
            Search
          </button>
          <button tsBtn="danger" class="me-1">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <ts-table
    #table="tsTable"
    class="d-block p-3"
    [colNum]="theads.length"
    [loader]="dataLoader"
    [height]="500"
  >
    <thead [theads]="theads" class="thead-light"></thead>
    <tbody>
      <tr *ngFor="let item of table.data; index as i" class="mat-cell">
        <td class="pl-3">{{ table.page.offset + i + 1 }}</td>
        <td>
          <div class="media">
            <img
              tsImg
              [src]="item.avatar"
              alt="avatar"
              class="align-self-center mr-3 rounded-circle"
              width="40"
              height="40"
            />
            <div class="media-body">
              <p class="m-0">
                {{ item.nick }}
                <small *ngIf="item.gender === 'female'" class="text-danger"
                  >({{ item.gender }})</small
                >
                <small *ngIf="item.gender === 'male'" class="text-dark"
                  >({{ item.gender }})</small
                >
              </p>
              <p class="m-0 text-primary">
                {{ item.email }}
              </p>
            </div>
          </div>
        </td>
        <td>
          <p class="p-0 m-0">{{ item.cell }}</p>
          <p class="p-0 m-0">{{ item.address }}</p>
        </td>
        <td>
          <p class="p-0 m-0">{{ item.registered.date }}</p>
        </td>
        <td>
          <span class="btn-icon btn-icon-primary">
            <i class="iconfont icon-edit"></i>
          </span>
          <span (click)="deleteItem(i)" class="btn-icon btn-icon-danger">
            <i class="iconfont icon-ashbin"></i>
          </span>
        </td>
      </tr>
    </tbody>
    <span>
      A total of <span class="text-primary">{{ table.page.total }}</span> data
      queries.
    </span>
  </ts-table>
</div>
