<div class="shadow-sm mb-3 pt-4 bg-white">
  <div class="px-4">
    <h3 class="font-weight-normal">TABLE</h3>
    <h5 class="text-muted font-weight-light mb-4">
      Documentation and examples for opt-in styling of tables with Bootstrap.
    </h5>
  </div>
  <hr />
  <div class="search-container">
    <div class="search-container-shadow px-4">
      <div class="row g-3 pb-4">
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            placeholder="Key words..."
            style="width: 150px"
            [(ngModel)]="table.search.q"
          />
        </div>
        <div class="col-auto">
          <ts-select
            [(ngModel)]="table.search.sort"
            [options]="['stars', 'forks', 'help-wanted-issues']"
            placeholder="select sort..."
          ></ts-select>
        </div>
        <div class="col-auto">
          <button tsBtn (click)="table.doReset()" class="me-1">Clean</button>
          <button tsBtn="primary" (click)="doSearch(table)" class="me-1">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <ts-table
    #table="tsTable"
    class="d-block p-3"
    [colNum]="theads.length"
    [loader]="dataLoader"
    [height]="500"
  >
    <thead [theads]="theads" class="thead-light"></thead>
    <tbody>
      <tr *ngFor="let item of table.data; index as i" class="mat-cell">
        <td class="pl-3">{{ table.page.offset + i + 1 }}</td>
        <td>
          <a [href]="item.html_url" target="_blank">{{ item.full_name }}</a>
          <br />
          <img
            tsImg
            [src]="item.owner.avatar_url"
            class="rounded"
            width="20"
            height="20"
          />
          <small class="ms-2">{{ item.owner.login }}</small>
        </td>
        <td>{{ item.language }}</td>
        <td>{{ item.stargazers_count }}</td>
        <td>{{ item.forks_count }}</td>
        <td>
          <button (click)="showMore(item)" type="button" class="btn btn-link">
            more
          </button>
        </td>
      </tr>
    </tbody>
    <span>
      A total of <span class="text-primary">{{ table.page.total }}</span> data
      queries.
    </span>
  </ts-table>
</div>
