<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">进度条</h5>
        <div class="card-body">
            <p class="text-muted">耗时的操作需要使用进度条给予用户当前的进度，上传，文件读取，大量数据提交</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-white">进度条</div>
        <div class="card-body m-btn">
            <ts-progress [value]="10"></ts-progress>
            <br>
            <ts-progress [value]="20" color="info"></ts-progress>
            <br>
            <ts-progress [value]="30" color="success"></ts-progress>
            <br>
            <ts-progress [value]="40" color="warning"></ts-progress>
            <br>
            <ts-progress [value]="50" color="danger"></ts-progress>
            <br>
            <ts-progress [value]="60" color="dark"></ts-progress>
            <br>
            <ts-progress [value]="70" color="light"></ts-progress>
            <br>
            <ts-progress [value]="80" color="secondary"></ts-progress>
        </div>
    </div>
</div>