<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">确认对话框</h5>
        <div class="card-body">
            <p class="text-muted">每次执行重要操作时，需要用户确认，避免错误点击</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header bg-white border-bottom d-flex justify-content-between">
                    <span>简单例子</span>
                    <a href="https://www.cool1024.com/gitbook/CONFIRM.html" target="blank">参考文档</a>
                </div>
                <div class="card-body m-btn">
                    <button (click)="showConfirm('success')" tsBtn color="success">Success</button>
                    <button (click)="showConfirm('info')" tsBtn color="info">Info</button>
                    <button (click)="showConfirm('warning')" tsBtn color="warning">Warning</button>
                    <button (click)="showConfirm('danger')" tsBtn color="danger">Danger</button>
                    <button (click)="showCustomConfirm()" tsBtn>Custom</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header border-bottom">参考代码</div>
                <div class="card-body">
                    <ts-prism [code]="simpleCode" language="typescript"></ts-prism>
                </div>
            </div>
        </div>
    </div>
</div>