<div
    class="pointer form-control form-control-{{getSize}}"
    style="height: auto"
    tsToggle
    [target]="menuView"
    [bind]="menuView"
    [class.disabled]="isDisabled"
>
    <span class="text-muted" *ngIf="activeItems.length<=0">{{placeholder}}</span>
    <span class="badge p-2 m-1 no-select badge-{{color}}" *ngFor="let active of activeItems">
        <i (click)="setValue(active)" style="font-size: 14px">&times;</i>
        {{active.text}}
    </span>
</div>
<div
    #menuView="tsView"
    tsView="fadeIn"
    autoSize
    position="auto"
    [offsetY]="1"
    class="dropdown-menu"
    (displayChange)="onShowMenu($event)"
>
    <div class="pl-2 pb-2 pr-2">
        <input [(ngModel)]="searchKey" [placeholder]="searchLabel" class="form-control" type="text" />
    </div>
    <div class="ts-select-item pointer border-none">
        <div
            *ngFor="let item of items;trackBy: trackByValue"
            class="dropdown-item {{isActiveItem(item)&&bgWithTextClass}}"
            [class.active]="isActiveItem(item)"
            (click)="setValue(item)"
            [innerHTML]="item.content||item.text"
        ></div>
        <div *ngIf="items.length<=0" class="text-muted text-center">{{emptyLabel}}</div>
    </div>
</div>
