<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">ECharts</h5>
        <div class="card-body">
            <p>提供了大部分的特性支持，详情请<a href="http://echarts.baidu.com/api.html#echarts" target="_blank">查看文档</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <button tsBtn (click)="randomData()">变更数据</button>
        </div>
        <div class="card-body">
            <div tsEchart [resize]="true" [option]="optionThree" style="width:100%;height:400px;"></div>
        </div>
    </div>
</div>