<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">弹窗</h5>
        <div class="card-body">
            <p class="text-muted">1. 有些简单操作可以使用模态框完成，模态框目前只能打开一个（要打开新的模态框必须先关闭之前的）</p>
            <p class="text-muted">2. 窗口支持无限嵌套打开，窗口内容完自定义</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>模态框</span>
                    <a href="https://www.cool1024.com/gitbook/MODAL.html" target="blank">参考文档</a>
                </div>
                <div class="card-body m-btn">
                    <button tsBtn (click)="showModal('md',false)">普通弹窗</button>
                    <button tsBtn (click)="showModal('md',true)">居中</button>
                    <button tsBtn (click)="showModal('sm',false)">小尺寸</button>
                    <button tsBtn (click)="showModal('lg',false)">大尺寸</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>窗口</span>
                    <a href="https://www.cool1024.com/gitbook/WINDOW.html" target="blank">参考文档</a>
                </div>
                <div class="card-body m-btn">
                    <button tsBtn (click)="showWindow()">简单弹窗</button>
                    <button tsBtn (click)="showImage('assets/images/background/1.jpg')">个性化（图片预览）</button>
                    <button tsBtn (click)="showOffice()">文档阅读</button>
                </div>
            </div>
        </div>
    </div>
</div>