<div class="card pl-3 pb-3">
    <h4>弹窗</h4>
    <p class="text-muted">有些简单操作可以使用模态框完成，模态框目前只能打开一个（要打开新的模态框必须先关闭之前的）</p>
</div>
<div class="p-2">
    <div class="card">
        <div class="card-header bg-white">弹窗</div>
        <div class="card-body m-btn">
            <button tsBtn (click)="showModal('md',false)">普通弹窗</button>
            <button tsBtn (click)="showModal('md',true)">居中</button>
            <button tsBtn (click)="showModal('sm',false)">小尺寸</button>
            <button tsBtn (click)="showModal('lg',false)">大尺寸</button>
        </div>
    </div>
</div>