<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">提示标签</h5>
        <div class="card-body">
            <p class="text-muted">提示标签可以用于某些按钮操作说明，如删除按钮，帮助图标。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header border-bottom">简单例子</div>
                <div class="card-body">
                    <span class="btn-icon btn-icon-danger" tsTip="删除">
                        <i class="iconfont icon-delete"></i>
                    </span>
                    <span class="btn-icon btn-icon-info" tsTip="编辑">
                        <i class="iconfont icon-edit"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header border-bottom">参考代码</div>
                <div class="card-body">
                    <ts-prism [code]="simpleCode"></ts-prism>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header border-bottom">指令参数</div>
        <div class="card-body">
            <p>选择器：
                <code class="mr-2">[tsTip]</code>
                <button tsBtn tsTip="Hello world!">移动到我这里</button>
            </p>
            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <td class="font-weight-bold">@Input</td>
                        <td class="font-weight-bold">Type</td>
                        <td class="font-weight-bold">Default</td>
                        <td class="font-weight-bold">Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>tsTip</code></td>
                        <td><code>String</code></td>
                        <td>空字符串</td>
                        <td>要显示的提示信息</td>
                    </tr>
                    <tr>
                        <td><code>placement</code></td>
                        <td><code>String</code></td>
                        <td>'top'</td>
                        <td>默认显示位置,可选值：'top','left','bottom','right'</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>