<div class="p-1">
    <h3 class="font-weight-normal">Pagination</h3>
    <h5 class="text-muted font-weight-light mb-4">Documentation and examples for showing pagination to indicate a series
        of related content exists across multiple pages.</h5>
</div>

<div class="column-container">
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div>
                    <h5 class="m-0">Component Overview</h5>
                </div>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">@Input</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let input of inputs">
                            <th scope="row">{{input[0]}}</th>
                            <td><code>{{input[1]}}</code></td>
                            <td>{{input[2]}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">Output</th>
                            <th scope="col" style="width: 120px;">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let output of outputs">
                            <th scope="row">{{output[0]}}</th>
                            <td><code>{{output[1]}}</code></td>
                            <td>{{output[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Simple Usage</h5>
            <ts-tabs [items]="['TAB-ONE', 'TAB-TWO', 'TAB-THREE']"></ts-tabs>
            <ts-prism class="mt-2" [codeObs]=" '/assets/docs/tabs/tabs.html' | request" language="html"></ts-prism>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">More Usage</h5>
            <ts-tabs #tsTabsTwo="tsTabs" [items]="['IMAGE-A', 'IMAGE-B', 'IMAGE-C']">
                <div class="mt-2 image-view" style="height: 10vw;">
                    <img tsImg *ngIf="tsTabsTwo.activeIndex === 0" src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=0">
                    <img tsImg *ngIf="tsTabsTwo.activeIndex === 1" src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=1">
                    <img tsImg *ngIf="tsTabsTwo.activeIndex === 2" src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=2">
                </div>
            </ts-tabs>
            <ts-prism class="mt-2" [codeObs]=" '/assets/docs/tabs/tabs-view.html' | request" language="html"></ts-prism>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Vertical Tab</h5>
            <ts-tabs #tsTabsThree="tsTabs" vertical class="d-flex align-items-start mb-3"
                [items]="['Terrance Moreno', 'Luke Cook', 'Joyce Freeman']">
                <div *ngIf="tsTabsThree.activeIndex === 0" class="media flex-grow-1 ml-3">
                    <div class="media-body text-secondary">
                        <h6 class="mt-0">Terrance Moreno</h6>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <img height="50" src="assets/images/avatar/0.jpg" class="ml-3 rounded-circle">
                </div>
                <div *ngIf="tsTabsThree.activeIndex === 1" class="media flex-grow-1 ml-3">
                    <div class="media-body text-secondary">
                        <h6 class="mt-0">Luke Cook</h6>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <img height="50" src="assets/images/avatar/1.jpg" class="ml-3 rounded-circle">
                </div>
                <div *ngIf="tsTabsThree.activeIndex === 2" class="media flex-grow-1 ml-3">
                    <div class="media-body text-secondary">
                        <h6 class="mt-0">Joyce Freeman</h6>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <img height="50" src="assets/images/avatar/2.jpg" class="ml-3 rounded-circle">
                </div>
                <!-- <div *ngIf="tsTabsThree.activeIndex === 1" class="media flex-grow-1 ml-2">
                    <img height="50" src="assets/images/avatar/1.jpg" class="mr-3 rounded-circle">
                    <div class="media-body">
                        <h5 class="mt-0">Terrance Moreno</h5>
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                </div>
                <div *ngIf="tsTabsThree.activeIndex === 2" class="media flex-grow-1 ml-2">
                    <img height="50" src="assets/images/avatar/2.jpg" class="mr-3 rounded-circle">
                    <div class="media-body">
                        <h5 class="mt-0">Terrance Moreno</h5>
                        Fusce condimentum nuncac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div> -->
            </ts-tabs>
            <div class="d-flex">
                <ts-prism class="ml-1 flex-grow-1" [codeObs]=" '/assets/docs/tabs/tabs-vertical.html' | request"
                    language="html">
                </ts-prism>
            </div>
        </div>
    </div>
</div>