<input
  tsToggle
  [bind]="view"
  [target]="view"
  [value]="title"
  readonly
  [placeholder]="placeholder"
  type="text"
  class="form-control bg-white pointer"
/>
<div #view="tsView" tsView [style.zIndex]="zIndex" class="shadow-sm bg-white">
  <div class="d-flex">
    <div *ngFor="let options of optionsQuery; index as i" class="select-block">
      <ng-container *ngFor="let option of options">
        <div class="{{ applyStyle(isActiveOption(option), bgWithTextClass) }}">
          <div
            *ngIf="!!option.children"
            (click)="showChildren(i, option)"
            class="select-item bg-{{
              color
            }}-hover px-3 py-2 pointer d-flex justify-content-between"
          >
            <span>{{ option.text }}</span>
            <i class="iconfont icon-next"></i>
          </div>
          <div
            *ngIf="!option.children"
            close
            (click)="showChildren(i, option, target)"
            class="select-item bg-{{ color }}-hover px-3 py-2 pointer"
          >
            {{ option.text }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
