<div class="fixed-top h-100 w-100 login-pad bg-white">
    <div class="w-100 h-100 bg-primary d-flex justify-content-center flex-wrap">
        <div style="min-width:25rem" class="background flex-grow-1 window">
        </div>
        <form style="width:25rem" class="card h-100 rounded-0 border-0" autocomplete="off">
            <div class="card-header login-header text-center border-bottom">
                <img height="35" src="assets/favicon.svg" />
                <span class="ml-2">Admin Pro</span>
                <!-- <span class="pull-right text-muted">版本 2.0.0</span> -->
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <small class="text-muted">Enter your email address and password to access admin panel.</small>
                </div>
                <div class="mb-2">Account</div>
                <div class="input-group mb-3 ">
                    <span class="input-group-text bg-white rounded-0">
                        <i class="iconfont icon-account" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control rounded-0" placeholder="Enter your email">
                </div>
                <div class="mb-2">Password</div>
                <div class="input-group mb-3 ">
                    <span class="input-group-text bg-white rounded-0">
                        <i class="iconfont icon-lock" aria-hidden="true"></i>
                    </span>
                    <input type="password" class="form-control rounded-0" placeholder="Enter your password">
                </div>
                <div class="form-group ">
                    <ts-checkbox>
                        <small class="text-muted">Remember me</small>
                    </ts-checkbox>
                </div>
                <div class="p-4"></div>
                <div>
                    <button tsBtn="primary" lg loading class="w-100 rounded-0">Login</button>
                </div>
            </div>
            <div class="card-footer bg-white text-center">
                <p class="mt-1 mb-0">Copyright © 2022 Cool1024. All Rights Reserved.
                    <br> Happy coding
                </p>
            </div>
        </form>
    </div>
</div>