<nav style="height: 70px;font-size: 18px;" class="navbar bg-primary text-white d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3 mx-2">
            <i class="iconfont icon-toggle-left" style="font-size: 1.5rem;"></i>
        </div>
        <div class="input-search">
            <i class="iconfont icon-search"></i>
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div #languageToggle (click)="showLanguageMenu(languageToggle)"
            class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <img height="18" src="assets/images/flags/cn.gif" alt="china">
        </div>
        <div (click)="changeFullscreen()" class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <i class="iconfont icon-fullscreen-expand" style="font-size: 1.5rem;"></i>
        </div>
        <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <i class="iconfont icon-notification" style="font-size: 1.5rem;"></i>
        </div>
        <div #userCenterToggle (click)="showUserMenu(userCenterToggle)"
            class="bg-light-hover pointer h-100 px-3 d-flex justify-content-center align-items-center">
            <img class="rounded-circle" width="35" height="35" src="/assets/images/avatar.jpg">
        </div>
    </div>
</nav>