<nav style="height: 70px;font-size: 18px;" class="navbar bg-dark text-white d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3 mx-2">
            <i class="iconfont icon-category"></i>
        </div>
        <div class="input-group">
            <input type="text" class="form-control border-0 text-white bg-dark-light" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn bg-dark-light text-white" type="button">
                    <i class="iconfont icon-search" style="font-size: 0.9rem;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div (click)="changeFullscreen()" class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <i class="iconfont icon-fullscreen"></i>
        </div>
        <div class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <i class="iconfont icon-remind"></i>
        </div>
        <div #languageToggle (click)="showLanguageMenu(languageToggle)"
            class="d-flex align-items-center bg-light-hover pointer h-100 px-3">
            <i class="iconfont icon-language"></i>
        </div>
        <div #userCenterToggle (click)="showUserMenu(userCenterToggle)"
            class="bg-light-hover pointer h-100 px-3 d-flex justify-content-center align-items-center">
            <img class="rounded-circle" width="35" height="35" src="/assets/images/avatar.jpg">
        </div>
    </div>
</nav>