<div class="p-1">
    <h3 class="font-weight-normal">Pagination</h3>
    <h5 class="text-muted font-weight-light mb-4">Documentation and examples for showing pagination to indicate a series
        of related content exists across multiple pages.</h5>
</div>

<div class="column-container">
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Component Overview</h5>
            <ts-tabs #tsTabsOne="tsTabs" [items]="['Home', 'Profile', 'Messages']"></ts-tabs>
            <ts-prism class="mt-2" [codeObs]=" '/assets/docs/tabs/tabs.html' | request" language="html"></ts-prism>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Use Tabs Change View</h5>
            <ts-tabs #tsTabsTwo="tsTabs" [items]="['One', 'Two', 'Three']">
                <div class="mt-2">
                    <img *ngIf="tsTabsTwo.activeIndex === 0" class="w-100"
                        src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=0">
                    <img *ngIf="tsTabsTwo.activeIndex === 1" class="w-100"
                        src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=1">
                    <img *ngIf="tsTabsTwo.activeIndex === 2" class="w-100"
                        src="https://api.ixiaowai.cn/gqapi/gqapi.php?i=2">
                </div>
            </ts-tabs>
            <ts-prism class="mt-2" [codeObs]=" '/assets/docs/tabs/tabs-view.html' | request" language="html"></ts-prism>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body shadow-sm">
            <h5 class="mb-3">Vertical Tab</h5>
            <div class="d-flex">
                <ts-tabs  #tsTabsThree="tsTabs" vertical [items]="['One', 'Two', 'Three']"></ts-tabs>
                <ts-prism  class="ml-1 flex-grow-1" [codeObs]=" '/assets/docs/tabs/tabs-vertical.html' | request" language="html">
                </ts-prism>
            </div>
        </div>
    </div>
</div>