<h5 class="card-header">功能列表</h5>
<div class="card-body">
    <div class="d-flex justify-content-between">
        <div>
            <p>本地文件上传服务</p>
            <p class="text-muted">允许使用本地文件上传，文件保存在当前服务器的磁盘中，一般不允许上传大文件(>10M),且文件数目不宜过多</p>
        </div>
        <ts-switch></ts-switch>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <p>OSS上传服务</p>
            <p class="text-muted">允许上传到OSS，适合大文件，可以详细设置存储空间限制</p>
        </div>
        <ts-switch></ts-switch>
    </div>
</div>