/* You can add global styles to this file, and also import other style files */
$card-border-radius: 0;
$card-border-width: 0;
$card-cap-bg: transparent;
$table-border-color: #ced4da;
@import "~bootstrap/scss/bootstrap";

@import "./index.scss";

// @import "./assets/ck.scss";

@import "//at.alicdn.com/t/font_799319_5w8jsn3w1d5.css";
