<div class="toolbar"></div>
<div class="p-3">
    <div class="card mb-3">
        <h5 class="card-header">Prism.js</h5>
        <div class="card-body">
            <p>
                <span>支持</span>
                <code> html</code>,
                <code>typescript</code>,
                <code>javascript</code>,
                <code>xml</code>,
                <code>css</code> 等高亮显示，更多语言支持请参考
                <a href="https://prismjs.com" target="_blank">官方文档</a>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">简单例子</div>
        <div class="card-body">
            <ts-prism [code]="typescript"></ts-prism>
        </div>
    </div>
</div>