pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
    font-size: 14px;
}

pre.line-numbers>code {
    position: relative;
    white-space: inherit;
    font-size: 14px;
    font-family: Helvetica Neue For Number, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    text-align: right;
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.line-numbers span {
    padding: 0px !important;
}