<div class="bg-white d-block shadow-sm position-relative h-100" style="width: 80px;">
    <ts-group class="d-flex flex-column h-100" [theme]="menuTheme" [nodes]="menu" (itemClick)="navHandler($event)">
        <h4 style="height: 70px;"
            class="py-3 m-0 border-bottom font-weight-normal flex-shrink-0 d-flex justify-content-center align-items-center">
            <img height="30" src="favicon.svg">
            <!-- <span class="class="ml-3" ">Admin Pro</span> -->
        </h4>
    </ts-group>
</div>