<ng-container *ngIf="!outlet.isActivated">
    <ts-datepicker #datepickerOne="tsDatepicker" [(ngModel)]="search.params.start" [color]="global.params.color" [weekTitles]="['一', '二', '三', '四', '五', '六', '日']"
        [monthTitles]="['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']">
    </ts-datepicker>
    <ts-datepicker #datepickerTwo="tsDatepicker" [(ngModel)]="search.params.end" [color]="global.params.color" [weekTitles]="['一', '二', '三', '四', '五', '六', '日']"
        [monthTitles]="['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']">
    </ts-datepicker>
    <div class="toolbar">
        <h4>商品列表</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">商品名称</span>
            </div>
            <input [(ngModel)]="search.params.name" type="text" class="form-control" placeholder="请输入商品名称关键词">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">创建时间</span>
            </div>
            <input tsToggle [bind]="datepickerOne" [target]="datepickerOne" type="text" [value]="search.params.start" class="form-control bg-white pointer"
                placeholder="开始时间" readonly>
            <div class="input-group-prepend input-group-append">
                <span class="input-group-text bg-white">到</span>
            </div>
            <input tsToggle [bind]="datepickerTwo" [target]="datepickerTwo" type="text" [value]="search.params.end" class="form-control bg-white pointer"
                placeholder="结束时间" readonly>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white">共查询到</span>
                    </div>
                    <input type="text" value="{{pagination.total}}" class="form-control text-center bg-white" readonly placeholder="0">
                    <div class="input-group-append">
                        <span class="input-group-text bg-white">条/结果</span>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right m-btn">
                <button class="btn btn-success" routerLink="detail">
                    <span>添加商品</span>
                </button>
                <button (click)="doReset()" class="btn btn-white">
                    <i class="iconfont icon-refresh mr-2"></i>
                    <span>重置</span>
                </button>
                <button (click)="doSearch()" class="btn btn-white">
                    <i class="iconfont icon-search mr-2"></i>
                    <span>搜索</span>
                </button>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card rounded-0">
            <div class="card-body">
                <ts-table-load [display]="loading"></ts-table-load>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr class="font-weight-bold bg-light">
                                <td *ngFor="let th of theads">{{th}}</td>
                            </tr>
                            <tr *ngFor="let td of list">
                                <td>{{td.id}}</td>
                                <td>
                                    <img tsImg [src]="td.goodsThumb" dataSrc="assets/images/404.jpg" class="rounded-circle" width="40" height="40" alt="Logo">
                                </td>
                                <td>{{td.goodsName}}</td>
                                <td>{{td.goodsPrice}}</td>
                                <td>{{td.goodsStocks}}</td>
                                <td>{{td.createdAt.substring(0,10)|date:'yyyy/MM/dd'}}</td>
                                <td>
                                    <span *ngIf="td.isActive===1" class="badge badge-success badge-pill">启用</span>
                                    <span *ngIf="td.isActive!==1" class="badge badge-secondary badge-pill">停用</span>
                                </td>
                                <td>
                                    <!-- <a class="btn-icon btn-icon-primary">
                                    <i class="fa fa-lg fa-fw fa-ellipsis-h align-middle"></i>
                                </a> -->
                                    <span (click)="confirmDelete(td)" tsTip="删除" class="btn-icon btn-icon-danger">
                                        <i tsIcon="delete"></i>
                                    </span>
                                    <span tsTip="详情/编辑" class="btn-icon btn-icon-info" routerLink="detail/{{td.id}}">
                                        <i tsIcon="edit"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <ts-pagination (pageChange)="loadDatas()" [pagination]="pagination" [items]="[{text:'显示 5 条',value:5},{text:'显示 10 条',value:10},{text:'显示 20 条',value:20}]"
                        [color]="global.params.color" goTitle="跳转" prevTitle="上一页" nextTitle="下一页" startTitle="首页" endTitle="末尾"
                        outline></ts-pagination>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<router-outlet #outlet="outlet"></router-outlet>