<div class="card shadow-sm bg-white" style="width: 500px">
    <div class="card-header d-flex align-items-center">
        <img class="rounded-circle" width="60" height="60" src="assets/image/avatar.jpg" alt="avatar" />
        <div class="ml-3">
            <h5 class="m-0">{{ adminInfo.name }}</h5>
            <div>{{ adminInfo.role }}</div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email:</label>
                <input type="email" class="form-control" [(ngModel)]="adminInfo.email" />
            </div>
            <div class="form-group col-md-6">
                <label>Phone:</label>
                <input type="text" class="form-control" [(ngModel)]="adminInfo.phone" />
            </div>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" [(ngModel)]="adminInfo.address" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" [(ngModel)]="adminInfo.description"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" [(ngModel)]="adminInfo.city" />
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" [(ngModel)]="adminInfo.state" />
            </div>
            <div class="form-group col-md-2">
                <label>Zip</label>
                <input type="text" class="form-control" [(ngModel)]="adminInfo.zip" />
            </div>
        </div>
        <div class="m-btn">
            <button tsBtn>Refresh</button>
            <button tsBtn="primary">Save</button>
        </div>
    </div>
</div>
