<h5 class="card-header">参数设置</h5>
<div class="card-body">
    <form autocomplete="off" style="max-width: 600px;">
        <div class="form-group">
            <label>本地可用存储空间（单位M）</label>
            <input type="text" class="form-control" placeholder="100">
        </div>
        <div class="form-group">
            <label>单文件大小限制（单位M）</label>
            <input type="text" class="form-control" placeholder="10">
        </div>
        <div class="form-group">
            <label>OSS可用存储空间（单位M）</label>
            <input type="text" class="form-control" placeholder="100">
        </div>
        <div class="form-group">
            <label>OSS单文件大小限制（单位M）</label>
            <input type="text" class="form-control" placeholder="10">
        </div>
        <button tsBtn="info" loading>确认修改</button>
    </form>
</div>