<ng-content></ng-content>
11111
<!-- FULL MODE -->
<ng-container *ngIf="!min">
    <!-- TopLevel will be subject -->
    <div class="mb-3" *ngIf="level===0"></div>
    <div *ngIf="level===0;else defaultGroup" class="flex-grow-1" style="overflow-y: auto">
        <ng-container *ngFor="let node of nodes">
            <div class="no-select py-3">
                <div class="pl-4 font-weight-bold">{{node.title}}</div>
            </div>
            <div
                tsGroup
                [root]="false"
                [nodes]="node.children!"
                [level]="level+1"
                (itemClick)="itemClick.emit($event);cleanActive(nodes,$event)"
            ></div>
        </ng-container>
    </div>

    <ng-template #defaultGroup>
        <div *ngFor="let node of nodes" tsCollapses class="position-relative" [auto]="true">
            <div
                tsToggle
                class="ts-menu-hover"
                [class.active]="node.active!"
                tsHover
                [hoverStyle]="hoverStyle"
                [hoverActive]="node.active!"
            >
                <div class="pointer py-3 d-flex" [style.marginLeft.px]="marginLeft">
                    <div class="flex-shrink-0 pr-2 align-items-center">
                        <img
                            class="mb-1"
                            *ngIf="node.image;else elseBlock"
                            width="20"
                            height="20"
                            [src]="sanitizer.bypassSecurityTrustResourceUrl(node.image)"
                        />
                        <ng-template #elseBlock>
                            <i [class]="node.icon" aria-hidden="true"></i>
                        </ng-template>
                    </div>
                    <div class="flex-grow-1 align-items-center">{{node.title}}</div>
                    <div class="flex-shrink-0 align-items-center" [style.paddingRight.px]="offset">
                        <div [class.ts-icon-up]="collapse.open" [class.ts-icon-down]="!collapse.open">
                            <i
                                class="iconfont icon-caret-down"
                                aria-hidden="true"
                                [class.invisible]="!(node.children&&node.children.length>0)"
                            ></i>
                        </div>
                    </div>
                </div>
            </div>
            <div tsCollapse #collapse="tsCollapse" [open]="open" (openChange)="updateGroup(node)">
                <div
                    tsGroup
                    [root]="false"
                    [nodes]="node.children!"
                    [level]="level+1"
                    (itemClick)="itemClick.emit($event);"
                ></div>
            </div>
        </div>
    </ng-template>
</ng-container>

<!-- MINMODE -->
<ng-container *ngIf="min">
    <ng-template ngFor let-item [ngForOf]="nodes" let-i="index">
        <div
            *ngFor="let node of item.children;index as i"
            class="position-relative"
            tsHover
            [hoverStyle]="hoverStyle"
            #tsHover="tsHover"
            tsMenuGroup
        >
            <div class="pointer py-3 d-flex justify-content-center" tsToggle (click)="itemClick.emit(node)">
                <div class="flex-shrink-0 px-2 align-items-center">
                    <img
                        class="mb-1"
                        *ngIf="node.image;else elseBlock"
                        width="30"
                        height="30"
                        [src]="sanitizer.bypassSecurityTrustResourceUrl(node.image)"
                    />
                    <ng-template #elseBlock>
                        <i [class]="node.icon" aria-hidden="true"></i>
                    </ng-template>
                </div>
            </div>
            <ts-items-group
                *ngIf="node.children&&node.children.length>0"
                tsSideMenu
                style="z-index: 1000"
                [nodes]="node.children"
                [hoverStyle]="hoverStyle"
                (itemChange)="itemClick.emit($event);"
            >
            </ts-items-group>
        </div>
    </ng-template>
</ng-container>
