<!--纯净模式-->
<div *ngIf="global.params.dashboardMode!=='full'; else elseBlock" class="p-3">
    <router-outlet></router-outlet>
</div>
<!--附带菜单与顶部-->
<ng-template #elseBlock>
    <div class="d-flex" style="height:100vh;">
        <!-- 左侧菜单 -->
        <div [class.menu-container-sm]="global.params.menuMode==='small'" class="menu-container flex-shrink-0 h-100 d-flex flex-column">
            <div class="d-flex align-items-center justify-content-center bg-success flex-shrink-0" style="height: 60px;overflow: hidden;">
                <img [src]="global.params.menuMode==='small'?menuConfig.SMALL_LOGO:menuConfig.FULL_LOGO" alt="TOOLSUI" height="40">
            </div>
            <app-menu class="flex-grow-1 shadow-sm " style="z-index:1;" [menuMode]="global.params.menuMode" [items]="menus " style="height:calc(100% - 60px) "></app-menu>
        </div>
        <!-- 右侧内容 -->
        <div class="flex-grow-1 h-100 d-flex flex-column ">
            <!-- 顶部工具栏 -->
            <div class="headbar d-flex align-items-center justify-content-between flex-shrink-0 shadow-sm " style="height:60px;z-index:
                    1; ">
                <div class="d-flex align-items-center flex-grow-1 ml-3 ">
                    <i (click)="changeMenuMode()" class="iconfont icon-category pointer"></i>
                </div>
                <div class="mr-3 flex-shrink-0 ">
                    <i class="iconfont icon-remind pointer ml-3 "></i>
                    <i class="iconfont icon-account pointer ml-3 "></i>
                    <i class="iconfont icon-set pointer ml-3 "></i>
                </div>
            </div>
            <!-- 主体内容 -->
            <div class="flex-grow-1 " style="overflow:auto; ">
                <div class="flex-grow-1 d-flex flex-column ">
                    <div class="breadcrumb pl-3 pr-3 ">
                        <a>
                            <i class="iconfont icon-homepagenormal "></i>
                            <span>首页</span>
                        </a>
                        <a class="ml-2 ">
                            <i class="iconfont icon-viewlist "></i>
                            <span>列表</span>
                        </a>
                        <a class="ml-2 ">
                            <i class="iconfont icon-information "></i>
                            <span>详情</span>
                        </a>
                    </div>
                    <div class="flex-grow-1 p-3 bg-light " style="overflow: auto ">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>