<div class="card pl-3 pb-3">
    <h4>下拉查询</h4>
    <p class="text-muted">很多时候下拉选择并不是那么美好，如果数据过大，一次性把所有下拉选项加载明显很不合理。下拉查询采用异步请求加载的方式返回查询结果，这样做更灵活。</p>
</div>
<div class="p-2">
    <div class="card m-2">
        <div class="card-header bg-white">下拉搜索</div>
        <div class="card-body">
            <div tsSearch [search]="doSearch" [(ngModel)]="values" placeholder="请选择用户" searchLabel="请输入要查询的用户昵称"></div>
            <div class="mt-2">
                <ts-prism language="json" [code]="values|json"></ts-prism>
            </div>

        </div>
    </div>
</div>