<!-- <div class="shadow-sm" style="width: 280px">
  <ts-menu
    [items]="items"
    [toggleClass]="{
      default: ['p-3', 'pointer'],
      transition: ['p-3', 'text-primary', 'bg-primary-light', 'pointer'],
      active: ['p-3', 'text-primary', 'bg-primary-light', 'pointer']
    }"
    [targetClass]="{
      default: ['text-dark'],
      active: ['bg-primary-light']
    }"
    [increamentX]="20"
  ></ts-menu>
</div> -->
<!-- <div class="shadow-sm" style="width: 82px; height: 100vh; overflow-y: scroll">
  <h4
    class="
      py-3
      border-bottom
      flex-shrink-0
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <img height="50" src="assets/favicon.svg" />
  </h4>
  <ts-menus-mini [items]="items"></ts-menus-mini>
</div> -->
<!-- <ts-sort></ts-sort>
<ts-switch></ts-switch>
<ts-radio></ts-radio>
<ts-checkbox></ts-checkbox>
<ts-select title="123" [options]="options"></ts-select>
<ts-selects title="123" [options]="options"></ts-selects> -->
<!-- <ts-tabs [items]="items[1].children" vertical></ts-tabs> -->
<!-- <ts-drop-menu [items]="dropMenus" [minWidth]="200">
  <button tsBtn>Dropdown</button>
</ts-drop-menu> -->
<!-- <ts-pagination [pagination]="page"></ts-pagination> -->
<!-- <ts-dropdown [items]="[1, 2, 3, 4]">
  <button tsBtn>Dropdown</button>
</ts-dropdown> -->
<!-- <button tsBtn (click)="showModal()">显示窗口</button> -->
<!-- <ts-menu
  [items]="items"
  [toggleClass]="{
    default: ['py-3', 'px-4', 'pointer', 'text-dark'],
    transition: ['py-3', 'px-4', 'text-primary', 'bg-primary-light', 'pointer'],
    active: ['py-3', 'px-4', 'text-primary', 'bg-primary-light', 'pointer']
  }"
  [targetClass]="{
    default: ['text-dark'],
    active: []
  }"
  [increamentX]="20"
></ts-menu> -->

<!-- <div class="shadow-sm" style="width: 280px; height: 100vh; overflow-y: scroll">
  <h4
    class="
      py-3
      border-bottom
      flex-shrink-0
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <img height="30" src="assets/favicon.svg" />
    <span class="ml-3">Admin Pro</span>
  </h4>
  <ts-menus [items]="items" (itemClick)="handleClick($event)"></ts-menus>
</div> -->

<!-- <button tsBtn tsToggle [target]="a">1111</button>
<div #a="tsCollapse" tsCollapse>1232323123</div> -->

<!-- <button #toggle="tsToggle" tsBtn tsToggle (click)="showModal(toggle)">
  Button
</button> -->
<!-- 
<ts-timepicker [(ngModel)]="data">
  <button tsBtn>{{data}}</button>
</ts-timepicker> -->
<div tsCollapses [auto]="true" class="accordion">
  <!-- One -->
  <div class="accordion-item">
    <h2 tsToggle class="accordion-header">
      <button class="accordion-button collapsed" type="button">
        Accordion Item #1
      </button>
    </h2>
    <div tsCollapse class="accordion-collapse">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions. You can modify
        any of this with custom CSS or overriding our default variables. It's
        also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <!-- Two -->
  <div class="accordion-item">
    <h2 tsToggle class="accordion-header">
      <button class="accordion-button collapsed" type="button">
        Accordion Item #2
      </button>
    </h2>
    <div tsCollapse class="accordion-collapse">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden
        by default, until the collapse plugin adds the appropriate classes that
        we use to style each element. These classes control the overall
        appearance, as well as the showing and hiding via CSS transitions. You
        can modify any of this with custom CSS or overriding our default
        variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit
        overflow.
      </div>
    </div>
  </div>
  <!-- Three -->
  <div class="accordion-item">
    <h2 tsToggle class="accordion-header">
      <button class="accordion-button collapsed" type="button">
        Accordion Item #3
      </button>
    </h2>
    <div tsCollapse class="accordion-collapse">
      <div class="accordion-body">
        Placeholder content for this accordion, which is intended to demonstrate
        the <code>.accordion-flush</code> class. This is the third item's
        accordion body. Nothing more exciting happening here in terms of
        content, but just filling up the space to make it look, at least at
        first glance, a bit more representative of how this would look in a
        real-world application.
      </div>
    </div>
  </div>
</div>
