<!-- <div class="shadow-sm" style="width: 280px">
  <ts-menu
    [items]="items"
    [toggleClass]="{
      default: ['p-3', 'pointer'],
      transition: ['p-3', 'text-primary', 'bg-primary-light', 'pointer'],
      active: ['p-3', 'text-primary', 'bg-primary-light', 'pointer']
    }"
    [targetClass]="{
      default: ['text-dark'],
      active: ['bg-primary-light']
    }"
    [increamentX]="20"
  ></ts-menu>
</div> -->
<!-- <div class="shadow-sm" style="width: 82px; height: 100vh; overflow-y: scroll">
  <h4
    class="
      py-3
      border-bottom
      flex-shrink-0
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <img height="50" src="assets/favicon.svg" />
  </h4>
  <ts-menus-mini [items]="items"></ts-menus-mini>
</div> -->
<!-- <ts-sort></ts-sort>
<ts-switch></ts-switch>
<ts-radio></ts-radio>
<ts-checkbox></ts-checkbox>
<ts-select title="123" [options]="options"></ts-select>
<ts-selects title="123" [options]="options"></ts-selects> -->
<!-- <ts-tabs [items]="items[1].children" vertical></ts-tabs> -->
<!-- <ts-drop-menu [items]="dropMenus" [minWidth]="200">
  <button tsBtn>Dropdown</button>
</ts-drop-menu> -->
<!-- <ts-pagination [pagination]="page"></ts-pagination> -->
<!-- <ts-dropdown [items]="[1, 2, 3, 4]">
  <button tsBtn>Dropdown</button>
</ts-dropdown> -->
<!-- <button tsBtn (click)="showModal()">显示窗口</button> -->
<!-- <ts-menu
  [items]="items"
  [toggleClass]="{
    default: ['py-3', 'px-4', 'pointer', 'text-dark'],
    transition: ['py-3', 'px-4', 'text-primary', 'bg-primary-light', 'pointer'],
    active: ['py-3', 'px-4', 'text-primary', 'bg-primary-light', 'pointer']
  }"
  [targetClass]="{
    default: ['text-dark'],
    active: []
  }"
  [increamentX]="20"
></ts-menu> -->

<!-- <div class="shadow-sm" style="width: 280px; height: 100vh; overflow-y: scroll">
  <h4
    class="
      py-3
      border-bottom
      flex-shrink-0
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <img height="30" src="assets/favicon.svg" />
    <span class="ml-3">Admin Pro</span>
  </h4>
  <ts-menus [items]="items" (itemClick)="handleClick($event)"></ts-menus>
</div> -->

<!-- <button tsBtn tsToggle [target]="a">1111</button>
<div #a="tsCollapse" tsCollapse>1232323123</div> -->

<!-- <button #toggle="tsToggle" tsBtn tsToggle (click)="showModal(toggle)">
  Button
</button> -->

<ts-datepicker [(ngModel)]="data">
  <button tsBtn>{{data}}</button>
</ts-datepicker>
