/* You can add global styles to this file, and also import other style files */
$card-border-radius: 0;
$card-border-width: 0;
$card-cap-bg: transparent;
// $table-border-width:  10px;
$table-border-color: #ced4da;
@import "~bootstrap/scss/bootstrap";

@import "~ng-tui/scss/index";

@import "//at.alicdn.com/t/font_799319_gi7b3dir7ct.css";

@font-face {
    font-family: "Nunito";
    font-weight: 400;
    src: url(assets/fonts/Comfortaa-Regular-1.ttf);
}

@font-face {
    font-family: "Nunito";
    font-weight: bold;
    src: url(assets/fonts/Comfortaa-Bold-2.ttf);
}

* {
    font-family: "Nunito";
}

.column-container {
    overflow: hidden;
    column-count: 2;
    column-gap: 15px;

    .column-item {
        break-inside: avoid;
        box-sizing: border-box;
    }
}
