<div class="p-1">
    <h3 class="font-weight-normal">Radio Component</h3>
    <h5 class="text-muted font-weight-light mb-4">
        Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide
        variety of forms.
    </h5>
</div>
<div class="row">
    
</div>
<div class="column-container">
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="mb-4">
                    Component Overview
                    <code class="ml-3">&lt;ts-radio&gt;</code>
                </h5>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">@Input</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let input of inputs">
                            <th scope="row">{{ input[0] }}</th>
                            <td>
                                <code>{{ input[1] }}</code>
                            </td>
                            <td>{{ input[2] }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">Output</th>
                            <th scope="col" style="width: 120px">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let output of outputs">
                            <th scope="row">{{ output[0] }}</th>
                            <td>
                                <code>{{ output[1] }}</code>
                            </td>
                            <td>{{ output[2] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card card-body">
            <h5 class="mb-3">Basic Usage</h5>
            <ts-tabs #tabsOne="tsTabs" [items]="['Preview', 'Code']">
                <div *ngIf="tabsOne.activeIndex === 0" class="mt-4">
                    <ts-radio
                        *ngFor="let value of radioValues"
                        [(ngModel)]="checkedValue"
                        [value]="value"
                        [color]="value"
                    >
                    </ts-radio>
                    <div class="jumbotron mt-4 text-white bg-{{ checkedValue }}">
                        <h1 class="display-4">Hello, world!</h1>
                        <p class="lead">
                            This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                            to featured content or information.
                        </p>
                        <hr />
                        <p>
                            It uses utility classes for typography and spacing to space content out within the larger
                            container.
                        </p>
                        <button tsBtn outline color="light">Button</button>
                    </div>
                </div>
                <ts-prism
                    *ngIf="tabsOne.activeIndex === 1"
                    [codeObs]="'/assets/docs/checkbox/radio._' | request"
                    language="typescript"
                ></ts-prism>
            </ts-tabs>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="mb-4">Radio</h5>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Input</th>
                            <th scope="col" style="width: 120px">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">color</th>
                            <td>
                                <code>string</code>
                            </td>
                            <td>Color name, such as 'success', 'primary', etc.</td>
                        </tr>
                        <tr>
                            <th scope="row">value</th>
                            <td>
                                <code>any</code>
                            </td>
                            <td>checked value</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Output</th>
                            <th scope="col" style="width: 120px">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">checkedChange</th>
                            <td>
                                <code>boolean</code>
                            </td>
                            <td>Checked status.</td>
                        </tr>
                    </tbody>
                </table>
                <ts-tabs #tsRadioTabs="tsTabs" [items]="['Example', 'Html', 'TypeScript']">
                    <div *ngIf="tsRadioTabs.isActive(0)" class="mt-3">
                        <div class="m-btn">
                            <ts-radio color="primary" class="mr-3" [(ngModel)]="radioValue" value="primary"
                                >Primary
                            </ts-radio>
                            <ts-radio color="secondary" class="mr-3" [(ngModel)]="radioValue" value="secondary">
                                Secondary</ts-radio
                            >
                            <ts-radio color="success" class="mr-3" [(ngModel)]="radioValue" value="success"
                                >Success
                            </ts-radio>
                            <ts-radio color="warning" class="mr-3" [(ngModel)]="radioValue" value="warning"
                                >Warning
                            </ts-radio>
                            <ts-radio color="danger" class="mr-3" [(ngModel)]="radioValue" value="danger"
                                >Danger
                            </ts-radio>
                            <ts-radio color="info" class="mr-3" [(ngModel)]="radioValue" value="info">Info</ts-radio>
                        </div>
                        <div class="mt-2 alert alert-{{ radioValue }}" role="alert">
                            Radio value : <a href="#" class="alert-link">{{ radioValue }}</a
                            >.
                        </div>
                    </div>
                    <ts-prism
                        *ngIf="tsRadioTabs.isActive(1)"
                        [codeObs]="'/assets/docs/checkbox/radio.html' | request"
                        language="typescript"
                    ></ts-prism>
                    <ts-prism
                        *ngIf="tsRadioTabs.isActive(2)"
                        [codeObs]="'/assets/docs/checkbox/radio._' | request"
                        language="typescript"
                    ></ts-prism>
                </ts-tabs>
            </div>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="mb-4">Checkbox</h5>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Input</th>
                            <th scope="col" style="width: 120px">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">color</th>
                            <td>
                                <code>string</code>
                            </td>
                            <td>Color name, such as 'success', 'primary', etc.</td>
                        </tr>
                        <tr>
                            <th scope="row">value</th>
                            <td>
                                <code>any</code>
                            </td>
                            <td>form value</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Output</th>
                            <th scope="col" style="width: 120px">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">checkedChange</th>
                            <td>
                                <code>boolean</code>
                            </td>
                            <td>Checked status.</td>
                        </tr>
                    </tbody>
                </table>
                <ts-tabs #tsCheckboxTabs="tsTabs" [items]="['Example', 'Html', 'TypeScript']">
                    <div *ngIf="tsCheckboxTabs.isActive(0)" class="mt-3">
                        <div class="m-btn">
                            <ts-checkbox color="primary" class="mr-3" [(ngModel)]="checkboxValue" value="primary">
                                Primary</ts-checkbox
                            >
                            <ts-checkbox color="secondary" class="mr-3" [(ngModel)]="checkboxValue" value="secondary">
                                Secondary
                            </ts-checkbox>
                            <ts-checkbox color="success" class="mr-3" [(ngModel)]="checkboxValue" value="success">
                                Success</ts-checkbox
                            >
                            <ts-checkbox color="warning" class="mr-3" [(ngModel)]="checkboxValue" value="warning">
                                Warning</ts-checkbox
                            >
                            <ts-checkbox color="danger" class="mr-3" [(ngModel)]="checkboxValue" value="danger"
                                >Danger
                            </ts-checkbox>
                            <ts-checkbox color="info" class="mr-3" [(ngModel)]="checkboxValue" value="info"
                                >Info
                            </ts-checkbox>
                        </div>
                        <div class="mt-2 alert alert-dark" role="alert">
                            Checkbox value : <a href="#" class="alert-link">{{ checkboxValue | json }}</a
                            >.
                        </div>
                    </div>
                    <ts-prism
                        *ngIf="tsCheckboxTabs.isActive(1)"
                        [codeObs]="'/assets/docs/checkbox/checkbox.html' | request"
                        language="typescript"
                    ></ts-prism>
                    <ts-prism
                        *ngIf="tsCheckboxTabs.isActive(2)"
                        [codeObs]="'/assets/docs/checkbox/checkbox._' | request"
                        language="typescript"
                    ></ts-prism>
                </ts-tabs>
            </div>
        </div>
    </div>
    <div class="column-item mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="mb-4">Switch</h5>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Input</th>
                            <th scope="col" style="width: 200px">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">color</th>
                            <td>
                                <code>string</code>
                            </td>
                            <td>Color name, such as 'success', 'primary', etc.</td>
                        </tr>
                        <tr>
                            <th scope="row">value</th>
                            <td>
                                <code>{{ '{open: any, close: any}' }}</code>
                            </td>
                            <td>form value</td>
                        </tr>
                        <tr>
                            <th scope="row">activeClass</th>
                            <td>
                                <code>string</code>
                            </td>
                            <td>This class while append to ng-content</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col" style="width: 150px">Output</th>
                            <th scope="col" style="width: 200px">Event Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">checkedChange</th>
                            <td>
                                <code>boolean</code>
                            </td>
                            <td>Checked status.</td>
                        </tr>
                    </tbody>
                </table>
                <ts-tabs #tsSwitchTabs="tsTabs" [items]="['Example', 'Html', 'TypeScript']">
                    <div *ngIf="tsSwitchTabs.isActive(0)" class="mt-3">
                        <div class="m-btn">
                            <ts-switch
                                color="primary"
                                class="mr-3"
                                [(ngModel)]="switchValue"
                                [value]="{ open: 'primary', close: 'secondary' }"
                            ></ts-switch>
                            <div class="mt-2 alert alert-{{ switchValue }}" role="alert">
                                Switch value : <a href="#" class="alert-link">{{ switchValue }}</a
                                >.
                            </div>
                        </div>
                    </div>
                    <ts-prism
                        *ngIf="tsSwitchTabs.isActive(1)"
                        [codeObs]="'/assets/docs/checkbox/switch.html' | request"
                        language="typescript"
                    ></ts-prism>
                    <ts-prism
                        *ngIf="tsSwitchTabs.isActive(2)"
                        [codeObs]="'/assets/docs/checkbox/switch._' | request"
                        language="typescript"
                    ></ts-prism>
                </ts-tabs>
            </div>
        </div>
    </div>
</div>