<div class="p-1">
  <h3 class="font-weight-normal">Offcanvas
  </h3>
  <h5 class="text-muted font-weight-light mb-4">
    Build hidden sidebars into your project for navigation, shopping carts, and more with a few classes and our
    JavaScript plugin.
  </h5>
</div>
<div class="column-container">
  <div class="column-item mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Example Usage</h5>
        <h6 class="card-subtitle mb-2 text-muted">Select offcanvas display position</h6>
        <ts-dropdown [items]="['start','end','top','bottom']" (menuClick)="showCanvas($event.value)">
          <button tsBtn="primary">Offcanvas</button>
        </ts-dropdown>
      </div>
    </div>
  </div>
  <div class="column-item mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        222
      </div>
    </div>
  </div>
</div>